<div class="actions">
  <a href="#" class="button" id="give-me-5">Give me 5</a>
  <div class="shortcut follow-shortcut">
    <span class="mac">⌘ (cmd)</span><span class="pc">CTRL</span> + ⇧ (shift) + 9
  </div>
</div>
{{#if settings}}
<a href="#/settings" id="settings"><i></i>Settings</a>
{{/if}}
<a href="https://lateral.io/" target="_blank" id="footer"><img src="/images/powered-by-lateral.png"></a>
