<header>
  <div class="back"></div>
  <h1>Settings</h1>
</header>
<h2>Lateral API</h2>
<ul>
  <li class="input" id="key">
    <h3>Key</h3>
    <div class="value"><input type="text" placeholder="Enter your key here" value="{{ key }}" id="key-input"></div>
    <div class="error"></div>
  </li>
</ul>

<div class="button">Save</div>
